html,body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
  font-size: 14px;
  background: #ffffff;
}
.navbar.is-white {
  background: #e9819b;
  color: white;
}
.navbar-brand .brand-text {
  font-size: 1.11rem;
  font-weight: bold;
  color: white;
  width: 100%;
  border-radius: 15px;
}
.navbar-menu {
  box-shadow: 2px 0px #ee939f;
  background: #e9819b;
  color: white;
  width: 100%;
  max-height: 50px;
  border-radius: 3px;
  padding-right: 1150px;
}
.hero-body{
background-color: #ee939f;
background-position: center;
background-size: cover;
background-repeat: no-repeat;
font-weight: bold;
font-size: 34px;
width: auto;
height: auto;
max-width: 100%;
max-height: 100%;
border-radius: 3px;
box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}
.articles {
  margin: 5rem 0;
  margin-top: -200px;
}
.articles .content p {
    line-height: 1.9;
    margin: 15px 0;
}
.author-image {
    position: absolute;
    top: -30px;
    left: 50%;
    width: 60px;
    height: 60px;
    margin-left: -30px;
    border: 3px solid #ccc;
    border-radius: 50%;
}
.media-center {
  display: block;
  margin-bottom: 1rem;
}
.media-content {
  margin-top: 3rem;
}
.article, .promo-block {
  margin-top: 6rem;
}
div.column.is-8:first-child {
  padding-top: 0;
  margin-top: 0;
}
.article-title {
  font-size: 2rem;
  font-weight: lighter;
  line-height: 2;
}
.article-subtitle {
  color: #909AA0;
  margin-bottom: 3rem;
}
.article-body {
  line-height: 1.4;
  margin: 0 6rem;
  border-radius: 15px;
  padding-bottom: 20px;
}
.promo-block .container {
  margin: 1rem 5rem;
}
.green-box {
 font-size: 16px;
}

.h3ro .is-1nfo {
  background-color: #ee939f;
  color: #ffffff;
}

.is-white {
  color: #ffffff;
}
.navbar-1tem {
  color: white;
  align-items: center;
  display: flex;
  padding: 5px;
  font-size: 16;
}

.active {
  border-radius: 3px;
  background-color: #ee939f;
  color: white;
  padding: 5px;
}
.conta1ner {
  align-items: stretch;
  display: flex;
  min-height: 3.25rem;
  width: 100%;
  background-color: #e9819b;
}

.n4vbar {
  background-color: #e9819b;
  min-height: 3.25rem;
  position: relative;
  z-index: 30;
  align-items: stretch;
  display: flex;
}
.c4rd {
  background-color: #fff;
  border-radius: .25rem;
  box-shadow: 0 .5em 1em -.125em #e9819b,0 0 0 1px #e9819b;
  color: #e9819b;
  max-width: 100%;
  position: relative;
}
